<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.housekeeperispurchase.mapper.GoodstypethreeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.housekeeperispurchase.pojo.Goodstypethree">
        <id column="goodsTypeThreeId" property="goodsTypeThreeId" />
        <result column="goodsTypeThreeName" property="goodsTypeThreeName" />
        <result column="goodsTypeTwoId" property="goodsTypeTwoId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        goodsTypeThreeId, goodsTypeThreeName, goodsTypeTwoId
    </sql>

</mapper>
